.box {
  background-color: #dee2e6;
  border: 1px solid #aaa;
  padding: 1rem;
  text-align: center;
}

.footer {
  background-color: #d6c7c7;
  font-size: 2rem;
  text-align: center;
  font-weight: bold;
  padding: 1rem;
}
.row{
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}
